!!!
%html
  %head
    %title Core Resource
    %link{:rel=>'stylesheet', :href=>'/stylesheets/blueprint/screen.css', :type => "text/css", :media => 'screen, projection'}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/blueprint/print.css', :type => "text/css", :media => 'print'}
    /[if lt IE 8]
      %link{:rel=>'stylesheet', :href=>'/stylesheets/blueprint/ie.css', :type => "text/css", :media => 'screen, projection'}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/application.css', :type => "text/css", :media => 'screen, projection'}
    
    %script{:src => 'http://use.typekit.com/yhw7qux.js' }
    %script
      try{Typekit.load();}catch(e){}
    
  %body
    .header
      .container
        .span-18
          %h2
            Core Resource
        .span-8.last
          %ul
            %li#quick_start
              = link_to 'Quick Start', :quick_start
            %li#documentation
              = link_to 'Documentation', :documentation
            %li#community
              = link_to 'Community', :community
            %li#source
              = link_to 'Source', 'http://github.com/mikelaurence/CoreResource'
    .container
      %h1
        Core Resource
        = yield
